Package: create-webapp
Version: 1.0.0-1big5
Depends: bigbashview
Architecture: all
Maintainer: Elton Fabricio <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:104
Description: Easy create webapps compatible with Chromium and derivated browsers


